body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.counter__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}

.counter__title {
  font-size: 32px;
}

.pressBtnOnePool,
.pressBtnTwoPool,
.pressReset {
  font-family: inherit;
  width: 500px;
  height: 100px;
  border-radius: 20px;
  background-color: #4191ff;
  border: none;
  cursor: pointer;
}

.pressReset {
  background-color: #d45366;
}

.pressBtnOnePool:hover,
.pressBtnTwoPool:hover,
.pressReset:hover {
  transition: 0.5s;
  opacity: 0.7;
}

.btn_title {
  color: #fff;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 17px;
  }

  .counter__inner {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 13px;
  }

  .counter__inner {
    gap: 36px;
  }

  .counter__title {
    font-size: 22px;
  }

  .pressBtnOnePool,
  .pressBtnTwoPool,
  .pressReset {
    width: 300px;
    height: 80px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 10px;
  }

  .counter__inner {
    gap: 22px;
  }

  .counter__title {
    font-size: 18px;
  }

  .pressBtnOnePool,
  .pressBtnTwoPool,
  .pressReset {
    width: 200px;
    height: 60px;
  }
}
